/* Make sure that padding behaves as expected */ 
* {
    box-sizing: border-box;
    
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  height: 30px;
  color: white; /* White text color */
  border-radius: 25px;
  transition: 0.5s ease-in-out;
}

/* Skills bars: */
.c_c++ {
    width: 80%; 
    background: linear-gradient(to right, #e3e7e7, #04AA6D);
    animation: width50 10s;
} /* Green */

.html_css_bootstrap{
    width: 80%; 
    background: linear-gradient(to right, #e3e7e7, #2196F3);
    animation: width50 10s;
} /* Blue */
.javascript_jquery {
    width: 50%; 
    background: linear-gradient(to right, #e3e7e7, #f44336);
    animation: width50 10s;
} /* Red */
.python{
    width: 30%; 
    background: linear-gradient(to right, #e3e7e7, #808080);
    animation: width50 10s;
} /* Dark Grey */
.java{
    width: 20%; 
    background: linear-gradient(to right, #e3e7e7, #04AA6D);
    animation: width35 10s;
} /* Green */

/* Animations: */
@keyframes width50 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }    
}
@keyframes width35 {
    0% {
        width: 0%;
    }
    100% {
        width: 35%;
    }    
}
@keyframes width15 {
    0% {
        width: 0%;
    }
    100% {
        width: 15%;
    }    
}
